/* move floating contents away from the text body */
.topic.contents { margin: 0.5em 1em; }
/* GH pages builds with different engine (docutils 0.17 vs. 1.19: force 0.17 in requriements.txt)? needs this: */
nav#contents { margin: 0.5em 1em; } 

.topic.contents {
	margin: 1em;
	padding: 1em;
	border: 1px solid #dc3545;
	border-radius: .25rem;
	} 

blockquote p { font-size: 1.0rem; font-style: italic; }

/* no indent for admonitions, they will look like cards then */

.admonition { margin: 1em 0em !important; }

/* Header permalinks */
h1:hover .headerlink, h2:hover .headerlink,
h3:hover .headerlink, h4:hover .headerlink,
h5:hover .headerlink, h6:hover .headerlink {
    display: inline;
}

.headerlink {
    display: none;
    color: #ddd;
    margin-left: 0.2em;
    padding: 0 0.2em;
}

.headerlink:hover {
    opacity: 1;
    background: #ddd;
    color: #000;
    text-decoration: none;
}
